<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>مدیریت کاربران</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <style>
        .w3-sidebar a {
            font-family: "Roboto", sans-serif
        }

        body, h1, h2, h3, h4, h5, h6, .w3-wide {
            font-family: "Montserrat", sans-serif;
        }
    </style>
</head>
<body>
<div style="margin-left: 170px;margin-right: auto;width:120px">
    <form method="post" th:action="@{/register}">
        <table dir="rtl">
            <tr>
            <tr>
                <td><input name="customerNumber" placeholder="شماره مشتری" class="input-text" style="width: 200px"></td>
                <td><input name="customerNumber" placeholder="شماره تلفن" class="input-text" style="width: 200px"></td>
                <td><input name="customerNumber" placeholder="وضعیت" class="input-text" style="width: 200px"></td>
            </tr>
            <tr>
                <td><input name="customerNumber" placeholder="تاریخ از" class="input-text" style="width: 200px"></td>
                <td><input name="customerNumber" placeholder="تاریخ تا" class="input-text" style="width: 200px"></td>
                <td><input name="lastName" placeholder="سن" class="input-text"></td>
            </tr>
            <tr>
                <td><input name="customerNumber" placeholder="ناام" class="input-text" style="width: 200px"></td>
                <td><input name="lastName" placeholder="نام خانوادگی" class="input-text"></td>
            </tr>

        </table>
        <div dir="rtl" style="margin-right: auto;margin-left: auto">
            <a th:href="@{/addNewUser}">
                <img th:src="@{/image/plus.png}"  width="20" height="20" title="افزودن کاربر">
            </a>
        </div>
        <div style="margin-left: 160px; width:200px" dir="rtl">
        <button type="submit" class="button-submit">جستجو</button>
        <button type="submit" class="button-submit">پاک کن</button>
        </div>
    </form>
</div>
</body>
</html>